* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

#score-logo-mobile {
  width: 160px;
  height: 120px;
  margin: 4px auto;
  padding: 10px;
}

.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* #dashboard {
  background-color: lightgrey;
  padding: 5px;
  flex: 0 0 auto;
  transition: background-color 0.3s ease-in-out;
  animation: fadeIn 0.5s ease-in-out 0.5s forwards;
  margin-right: 20px;
  overflow-y: auto;
}

#dashboard.flex {
  flex: 0 0 0;
  margin-right: 0;
  transition: flex 0.3s ease-in-out;
} */
#dashboard {
  background: linear-gradient(to bottom, #c1d3fe, #edf2fb);
    padding: 5px;
    flex: 0.1;
    transition: background-color 0.3s ease-in-out;
    animation: fadeIn 0.5s ease-in-out 0.5s forwards;
    margin-right: 0px;
    transform: translateX(0);
  }

  #dashboard.flex {
    flex: 0.01;
    margin-right: 0;
    transition: flex 0.3s ease-in-out;
    transform: translateX(-100%);
  }

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0.5s forwards;
}

#navigation {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
}

#scorex-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

#nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#nav-menu li {
  margin-bottom: 10px;
  padding: 10px;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 0.1s ease-in-out forwards;
  animation-delay: 0.1s;
}

/* #nav-menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  background-color: lightgrey;
  transition: background-color 0.3s ease-in-out;
  padding: 10px;
} */

#nav-menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  background-color: rgba(211, 211, 211, 0.2);
  transition: background-color 0.3s ease-in-out;
  padding: 10px;
}


.nav-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#nav-menu li a .nav-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#nav-menu li a span {
  margin-right: 10px;
}

#nav-menu li a:hover {
  background-color: lightblue;
  transform: scale(1.1);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#navigation.visible {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

#gradetable {
  border-collapse: collapse;
  width: 100%;
}

#gradetable th,
#gradetable td {
  border: 1px solid black;
  padding: 8px;
}

#gradetable th {
  background-color: #f2f2f2;
  text-align: left;
}

/* #gradetable tr:nth-child(even) {
  background-color: #dddddd;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

:root{
  --blue: #287bff;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body{
  min-height: 100vh;
  overflow-x: hidden;
}

.container{
  position: relative;
  width: 100%;
}

.navigation{
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active{
  width: 80px;
  transform: 0.5s;
}

.navigation ul{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li{
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover{
  background-color: var(--white);
}

.navigation ul li:nth-child(1){
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a{
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li:hover a{
  color: var(--blue);
}

.navigation ul li a .icon{
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon ion-icon{
  font-size: 1.75em;
}

.navigation ul li a .title{
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.navigation ul li:hover a::before{
  content: '';
  position: absolute;
  top: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li:hover a::after{
  content: '';
  position: absolute;
  bottom: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* main*/
.main{
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background-color: var(--white);
  transition: 0.5s;
}

.main.active{
  width: calc(100% - 80px);
  left: 80px;
}

.topbar{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle{
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

.heading{
  position: relative;
  width: 400px;
  margin: 0 10px;
  font-size: 25px;
  font-weight: 600;
}

.user{
  position: relative;
  width: 40px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details{
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
}

.details .courses{
  position: relative;
  display: grid;
  min-height: 500px;
  background-color: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  border-radius: 20px;
}

.cardheader h2{
  font-weight: 600;
  color: var(--blue);
}

.details table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  height: 100%;
}

.details table thead td{
  font-weight: 600;

}

.details .courses table tr{
  color :var(--black1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  /* height: 20px; */
}

.details .courses table tbody tr:hover{
  background: var(--blue);
  color: var(--white);
}

/* .details .courses table tr:last-child{
  margin-bottom: 10px;
} */

/* .details .courses table tr td:nth-last-child(1){
  text-align: end;
} */

.details .courses table tr td{
  text-align: center;
}

.row-height {
  height: 40px; /* Adjust the height as per your requirements */
}

.additional-resources {
  margin-top: 40px;
}

.additional-resources .betterluck {
font-size: 18px;
margin: 10px;
font-weight: 400;
}

.additional-resources .resourcestext {
font-size: 15px;
margin: 10px;
}

.additional-resources ul {
list-style-type: none;
/* padding-left: 0; */
}

.additional-resources li {
  margin: 20px;
}

.additional-resources li a {
  color: #007bff;
  text-decoration: none;
}

.additional-resources li a:hover {
  text-decoration: underline;
}

.no-entries-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  text-align: center;
  background-color: #f2f2f2;
  color: #555;
  font-size: 18px;
  font-weight: bold;
}
