<!DOCTYPE html>
<html>
<head>
  <title>Student Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles_scrollable.css') }}">

  <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div id="dashboard">
      <div id="header">
        <div id="navigation" class="hidden">
          <div id="scorex-mobile">
            <img src="{{url_for('static', filename='img_dashb/ScoreX Log.png')}}" alt="Score Logo" id="score-logo-mobile">
          </div>
          <ul id="nav-menu">
          <li><a href="{{ url_for('dashboard') }}"><img src="{{ url_for('static', filename='img_dashb/home.png') }}" alt="Home" class="nav-logo"> <span>Home</span></a></li>
          <li><a href="{{ url_for('grades') }}"><img src="{{ url_for('static', filename='img_dashb/grades.png') }}" alt="Grades" class="nav-logo"> <span>Grades</span></a></li>
          <li><a href="{{ url_for('analytics') }}"><img src="{{ url_for('static', filename='img_dashb/analyse.png') }}" alt="Analytics" class="nav-logo"> <span>Analytics</span></a></li>
          <li><a href="{{ url_for('logout') }}" id="logout-button"><img src="{{url_for('static', filename='img_dashb/log-out.png')}}" alt="Logout" class="nav-logo"> <span>Logout</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content">
      <!-- Your scrollable content goes here -->
      <h1>Minor 2 score analysis</h1>
      {% if no_data %}
        <h2>{{ disp_msg }}</h2>

      {% else %}
        {% for course, graph, curr_score, curr_prec in zip(courses, graphs, curr_user_scores, curr_user_perc) %}
        <h2>{{ course }}</h2>
        <!-- <h3>{{ course }}</h3> -->

        <p>{{ msg }}</p>
        <p>This the score distribution for your respective branch in the course {{ course }}</p> 
        <p>You have scored {{ curr_score }} in this test and you stand in the top {{ curr_prec }} % of the class's score </p>

        {{ graph|safe }}
        <hr> <!-- Add a horizontal line after each graph --></hr>
        {% endfor %}

      {% endif %}
        
    </div>
  </div>

  <script src="{{ url_for('static', filename='script_dashboard.js') }}"></script>
</body>
</html>
