<!DOCTYPE html>
<html>
<head>
  <title>Student Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles_scrollable.css') }}">

  <link rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div id="dashboard">
      <div id="header">
        <div id="navigation" class="hidden">
          <div id="scorex-mobile">
            <img src="{{url_for('static', filename='img_dashb/ScoreX Log.png')}}" alt="Score Logo" id="score-logo-mobile">
          </div>
          <ul id="nav-menu">
          <li><a href="{{ url_for('dashboard') }}"><img src="{{ url_for('static', filename='img_dashb/home.png') }}" alt="Home" class="nav-logo"> <span>Home</span></a></li>
          <li><a href="{{ url_for('grades') }}"><img src="{{ url_for('static', filename='img_dashb/grades.png') }}" alt="Grades" class="nav-logo"> <span>Grades</span></a></li>
          <li><a href="{{ url_for('analytics') }}"><img src="{{ url_for('static', filename='img_dashb/analyse.png') }}" alt="Analytics" class="nav-logo"> <span>Analytics</span></a></li>
          <li><a href="{{ url_for('logout') }}" id="logout-button"><img src="{{url_for('static', filename='img_dashb/log-out.png')}}" alt="Logout" class="nav-logo"> <span>Logout</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="content">
      <!-- Your scrollable content goes here -->
      <div class="container">

      <!--main-->
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>
          <div class="user">
            <!-- <img
              src="{{url_for('static', filename='img_fac_dashb/profile_icon.png')}}"
              alt="XXXX" -->
            <!-- /> -->
          </div>
        </div>

        
        <!-- Course Detail List-->
        <div class="details">
          <div class="courses">
            <div class="cardheader">
              <h2>Current Courses</h2>
            </div>
            {% if courses %}
              <table id="gradetable">
                <thead>
                  <tr class="row-height">
                    <td>Course Name</td>
                    <td>Course Credits</td>
                    <td>Score</td>
                  </tr>
                </thead>
                <tbody>
                  {% for course in courses %}
                    <tr>
                      <td>{{ course.courseName }}</td>
                      <td>{{ course.courseCredit }}</td>
                      <td>{{ course.score }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <div class="no-entries-message">No entries found in the database. Please contact the maintainer of the site</div>
            {% endif %}
        
            <div class="additional-resources">
              {% if courses %}
                {% if courses|selectattr('score', 'lt', 4)|list %}
                  <div class="betterluck">In the face of failure, lies the gateway to triumph</div>
                  <div class="resourcestext">Below are some resources that can help you prepare better for your next attempt</div>
                  {% if previous_year_papers_link %}
                    <div class="previous-year-papers">
                      <a href="{{ previous_year_papers_link }}">Previous Year Papers</a>
                    </div>
                  {% endif %}
                {% endif %}
                {% if additional_resources %}
                  <ul>
                    {% for playlist_key, resources_dict in additional_resources.items() %}
                      <li>
                        <strong>{{ playlist_key }}</strong>
                        <ul>
                          {% if 'studyPlaylist' in resources_dict %}
                            <li>
                              <a href="{{ resources_dict['studyPlaylist'] }}">Study Playlist</a>
                            </li>
                          {% endif %}
                        </ul>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
      
      
    </div>
  </div>

  <script src="{{ url_for('static', filename='script_dashboard.js') }}"></script>
</body>
</html>
