<!DOCTYPE html>
<html>
<head>
    <title>Select the Exam </title>
</head>
<body>
    <button onclick="redirectToMinor1('{{ course }}', '{{ batch }}', '{{branch}}')">View Minor1 Analysis</button>
    <button onclick="redirectToMinor2('{{ course }}', '{{ batch }}', '{{branch}}')">View Minor2 Analysis</button>
    <button onclick="redirectToEndsem('{{ course }}', '{{ batch }}', '{{branch}}')">View End sem Analysis</button>
    <button onclick="redirectToCombined('{{ course }}', '{{ batch }}', '{{branch}}')"> View combined analysis</button>

    


    <script>
        function redirectToMinor1(course, batch, branch) {
            window.location.href = "/minor1_analytics?course="+ encodeURIComponent(course)+ "&batch=" + encodeURIComponent(batch) + "&branch=" + encodeURIComponent(branch) ;
        }

        function redirectToMinor2(course, batch, branch) {
            window.location.href = "/minor2_analytics?course="+ encodeURIComponent(course)+ "&batch=" + encodeURIComponent(batch) + "&branch=" + encodeURIComponent(branch) ;

        }

        function redirectToEndsem(course, batch, branch) {
            window.location.href = "/endsem_analytics?course="+ encodeURIComponent(course)+ "&batch=" + encodeURIComponent(batch) + "&branch=" + encodeURIComponent(branch) ;
        }

        function redirectToCombined(course, batch, branch) {
            window.location.href = "/combined_analytics?course="+ encodeURIComponent(course)+ "&batch=" + encodeURIComponent(batch) + "&branch=" + encodeURIComponent(branch) ;
        }
    </script>
</body>
</html>