<!DOCTYPE html>
<html>
<head>
    <title>Analytics</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
</head>
<body>
    <div id="graph">

        <script>
            // Retrieve the graph JSON data from Flask
            var graphJsonData = '{{ graph_json | safe }}';
            var graphData = JSON.parse(graphJsonData);

            // Render the graph using Plotly
            Plotly.newPlot('graph', graphData.data, graphData.layout);
        </script>
    </div>


    <div id = "bell"> 
        <script>
            // Retrieve the graph JSON data from Flask
            var graphJsonData2 = '{{ graph2_json | safe }}';
            var graphData2 = JSON.parse(graphJsonData2);

            // Render the graph using Plotly
            Plotly.newPlot('graph', graphData2.data, graphData2.layout);
        </script>
    </div>
</body>
</html>