<!-- index.html -->
<!DOCTYPE html>
<html>
  <body>
    <h1>Upload Grades</h1>
    <form method="POST" action="/process" enctype="multipart/form-data">
      <label for="batch">Batch:</label>
      <input type="text" id="batch" name="batch"><br><br>
<!--       
      <label for="subject_code">Subject Code:</label>
      <input type="text" id="subject_code" name="subject_code"><br><br> -->

      <label for="exam_type">Exam Type:</label>
      <select id="exam_type" name="exam_type">
        <option value="minor1">Minor 1</option>
        <option value="minor2">Minor 2</option>
        <option value="endsem">End Semester</option>
      </select><br><br>

      <h3> File Naming Format </h3>
      <h4> Your file name should be in the format subject_code_exam only.</h4>
      <h4> Make sure that the csv file is of the type "Microsoft Excel Comma separated values" </h5>
      <h4> For example : AI3101_M1 </h4>      
      <label for="file">CSV File:</label>
      <input type="file" id="file" name="file"><br><br>
      
      <input type="submit" value="Submit">
      
    </form>
  </body>
</html>